<app-empty-shell [topRowHeight]="topRowHeight">

  <div class="top-section">

    <div class="navbar justify-content-between navbar-expand-lg navbar-dark bg-primary"
      [style.height.px]='topRowHeight'>     
      
        <div class="navbar" id="navbarColor01">
          <a class="navbar-brand" href="#">
            <fa-icon [icon]="['fas', 'map']"></fa-icon>
          </a>
        <ul class="navbar-nav mr-auto">

          <!-- <li class="nav-item  active">
            <a class="nav-link" [routerLink]="['/map-view']" href="#">Map View</a>
          </li> -->

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/data-manager']" href="#">Data Manager
            </a>
          </li>

        </ul>        
      </div>

      <app-auth></app-auth>
    </div>

  </div>

  <div class="side-section">
    <app-geo-data-selector></app-geo-data-selector>
  </div>


  <div class="main-section">

    <router-outlet></router-outlet>

  </div>


  <div class="bottom-section">

    <ul class="navbar-nav ">

      <li class="nav-item ">
          <fa-icon *ngIf="apiHealthy" [icon]="['fas', 'heartbeat']" class="text-success" placement="top-left"
          ngbTooltip="API connection healthy"></fa-icon>
          <fa-icon *ngIf="!apiHealthy" [icon]="['fas', 'heartbeat']" class="text-warning" placement="top-left"
          ngbTooltip="API connection failure"></fa-icon>
      </li>

    </ul>
  </div>

</app-empty-shell>