<div class="top-header" [style.height.px]='topRowHeight'>
  <ng-content select="div.top-section"></ng-content>
</div>

<div class="middle-Row" (window:resize)="onResize($event)" [style.height.px]='midRowHeight'>

  <div class="side-nav " [style.width.px]='sideNavWidth'>
    <ng-content select="div.side-section"></ng-content>
  </div>

  <div class="main-content" [style.overflow-y]="mainContentScroll" >
    <ng-content select="div.main-section"></ng-content>
  </div>

</div>

<div *ngIf="bottomRowHeight>0" class="bottom-footer" [style.height.px]='bottomRowHeight'>
  <div class="navbar navbar-expand-lg navbar-dark bg-primary mx-0">

    <ul class="navbar-nav mr-2">
      <li class="nav-item">
        <div class="btn btn-secondary btn-sm" (click)="closeSideNav()">
          <i *ngIf="sideNavWidth>0" class="fa fa-caret-square-o-left"></i>
          <i *ngIf="sideNavWidth<1" class="fa fa-caret-square-o-right"></i>
        </div>
      </li>
    </ul>

    <div class="d-flex justify-content-start">
    
    <ng-content select="div.bottom-section"></ng-content>
    
    </div>

  </div>
</div>