<ngb-tabset>

  <ngb-tab *ngIf="showViewer" title="Map View">
    <ng-template ngbTabContent>
      <app-geo-data-viewer></app-geo-data-viewer>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="showEditor" title="Json Editor">
    <ng-template ngbTabContent>
      <app-geo-data-editor></app-geo-data-editor>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="showImport" title="Data Import">
    <ng-template ngbTabContent>
      <app-geo-data-import></app-geo-data-import>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="showDataCollect" title="Data Collect">
    <ng-template ngbTabContent>
      <app-geo-data-collect></app-geo-data-collect>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="showSettings" title="Settings">
    <ng-template ngbTabContent>
      <app-data-settings></app-data-settings>
    </ng-template>
  </ngb-tab>

</ngb-tabset>