<div class="card text-light bg-secondary h-100">

    <h5 class="card-header">Server Provided Settings</h5>

    <div class="card-body bg-dark">

        <div class="card-title my-1">
            <span class="text-light mr-1"><strong>ConfigurationSettings</strong></span>
        </div>

        <div class="card-text">
            <strong>Auth url:</strong> {{configurationSettings.AuthUrl}}
        </div>
        <div class="card-text">
            <strong>Api url:</strong> {{configurationSettings.GeoDataApiUrl}}
        </div>

    </div>

    <h5 class="card-header">Data Permissions</h5>

    <div class="card-body bg-dark">

        <div class="card-title my-1">
            <span class="text-white"><strong>Permissions You Have Granted</strong></span>
        </div>

        <table class="bg-light text-dark table table-sm mb-0">
            <thead>
                <tr>
                    <td class="col-2">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="userSelect" ngbDropdownToggle>Users</button>
                            <div ngbDropdownMenu aria-labelledby="userSelect">
                                <button *ngFor="let u of userList" ngbDropdownItem (click)="selectedUser=u">
                                    {{u.UserName}}
                                </button>
                            </div>
                        </div>
                        <span class="mx-2">{{selectedUser?.UserName}}</span>
                    </td>
                    <td class="col-2">
                        <a (click)="addDataPermission(selectedUser.ID)" class="btn btn-link text-info">Add</a>
                    </td>
                    <td class="col-2"></td>
                    <td class="col-2"></td>
                    <td class="col-4"></td>
                </tr>
            </thead>            
        </table>

        <table class="bg-light text-dark table table-sm mt-0">
            <tr>
                <th class="col-2" scope="col">Allowed User</th>
                <th class="col-2" scope="col">Read</th>
                <th class="col-2" scope="col">Write</th>
                <th class="col-2" scope="col"></th>
                <th class="col-4" scope="col"></th>
            </tr>
            <tr *ngFor="let p of userDataPermissions">
                <td>
                    {{getUserNameFromId(p.AllowedUserID)}}
                </td>
                <td>
                    {{p.Read}}
                </td>
                <td>
                    {{p.Write}}
                </td>
                <td>
                    <a (click)="removeDataPermission(p.ID)" class="btn btn-link text-warning">Remove</a>
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>

        <hr>

        <div class="card-title my-1">
            <span class="text-white"><strong>Permissions GrantedTo You</strong></span>
        </div>

        <table class="bg-light text-dark table table-sm mt-0">
            <tr>
                <th class="col-2" scope="col">Owner User</th>
                <th class="col-2" scope="col">Read</th>
                <th class="col-2" scope="col">Write</th>
                <th class="col-2" scope="col"></th>
                <th class="col-4" scope="col"></th>
            </tr>
            <tr *ngFor="let p of userDataGrantedPermissions">
                <td>
                    {{getUserNameFromId(p.OwnerUserID)}}
                </td>
                <td>
                    {{p.Read}}
                </td>
                <td>
                    {{p.Write}}
                </td>
                <td>
                    
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>

    </div>

    <div class="card-footer">

    </div>
</div>