<!-- outer container -->
<div class="card-deck w-85 mx-3 my-3 h-100">

    <!-- map card -->
    <div class="card text-white bg-secondary h-100">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <app-gmap-view [mapData]="data" [mapHeight]="mapHeight"></app-gmap-view>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <!-- data card -->
    <div class="card bg-light h-100">

        <div class="card-header">
            <h5>Selected Dataset</h5>
        </div>
        <div class="card-body bg-default">

            <!-- todo: create component, loop through list for this data-->
            <!-- also, set data summary size limit the same as the map, and scroll when ovr -->
            <div class="card-title my-1">
                <span class="text-primary mr-1">Description:</span>
                <span class="card-text">{{data?.Description}}</span>
            </div>
            <div class="card-title my-1">
                <span class="text-primary mr-1">ID:</span>
                <span class="card-text">{{data?.ID}}</span>
            </div>

        </div>

        <h5 class="card-header">Data summary</h5>

        <div class="card-body">

            <div class="card-title my-1">
                <span class="text-primary mr-1">Point Collections:</span>
                <span class="card-text">{{data?.Data?.length}}</span>
            </div>

            <div *ngFor="let pc of data?.Data" class="card-title my-1">
                <span class="text-primary mr-1">Point collection {{pc.ID}} Coordinates Count:</span>
                <span class="card-text">{{pc.Coordinates?.length}}</span>
                <app-gps-telemetry-chart [data]="pc.Coordinates"></app-gps-telemetry-chart>
            </div>

            <!-- <div class="card-title my-1">
                <span class="text-primary mr-1">Properties:</span>
                <span class="card-text"></span>
            </div> -->

        </div>

        <div class="card-footer">
        </div>
    </div>

</div>