<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Authentication' : 'Register' }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<div *ngIf="isAuthenticated" class="my-3">
  <button class="btn btn-secondary btn-sm align-middle" type="submit" (click)='logoutCurrentUser()'>
    <span class="mx-1 align-middle">Logout</span>
    <fa-icon [icon]="['fas', 'sign-out-alt']" class=""></fa-icon>
  </button>
</div>

<div *ngIf="!isAuthenticated" class="my-3">

  <form #loginForm="ngForm" class="form-inline" (ngSubmit)="onSubmit(loginForm)">

    <input class="form-control mr-sm-2 py-1 h-50" type="text" placeholder="User" ngModel name="email" required
      #emailCtrl="ngModel">
    <input class="form-control mr-sm-2 py-1 h-50" type="password" placeholder="Password" ngModel name="password"
      required minlength="3" #passwordCtrl="ngModel">

    <button class="btn btn-secondary btn-sm align-middle" type="submit">
      <span class="mx-1 align-middle">Login </span>
      <fa-icon [icon]="['fas', 'sign-in-alt']" class=""></fa-icon>
    </button>



  </form>

</div>

<!-- 
<ion-content text-center padding>

  <div *ngIf="!isAuthenticated">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Login ID</ion-label>
                <ion-input ngModel name="email" required #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-label>
                  Invalid Login ID
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required minlength="3" #passwordCtrl="ngModel">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>
                  Should at least be 3 characters long.
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">
              Switch to {{ isLogin ? 'Signup' : 'Login' }}
            </ion-button>
            <ion-button type="submit" color="primary" expand="block">              
              {{ isLogin ? 'Login' : 'Signup' }}
            </ion-button>          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div *ngIf="isAuthenticated">

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-text>
          Currently logged in user
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-text>
          User ID:{{currentUser?.id}}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-text>
          Email:{{currentUser?.email}}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="logoutCurrentUser()">Logout</ion-button>
      </ion-col>
    </ion-row>

  </div>
  
</ion-content> -->