<p>
  Import GPX files
</p>

<div class="card-deck w-85 mx-3 my-3 h-100">
  
    <div class="card text-white bg-secondary h-100">
      <div class="card-body">
        <button class="btn btn-primary my-1 mx-1" (click)="onClick()"> select file </button>
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="GPX/*"
          style="display:none;" />
      </div>

      
      <!-- <div class="card text-white bg-secondary h-100"> -->
        
        <div class="card-body">
          <ul>
            <li *ngFor="let file of files">
              <button class="btn">
                {{file.data.name}} -
                {{file.data.size}}
              </button>
            </li>
          </ul>
        </div>
        
      </div>
    <!-- </div> -->

    <div class="card text-white bg-secondary h-100">
      <div class="card-body">

        <ngx-monaco-editor style="height: 600px;" [options]="editorOptions" [(ngModel)]="selectedFile"
          (onInit)="onEditorInit($event)"></ngx-monaco-editor>
          
      </div>
    </div>

  


</div>